body {
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
.orange{
    color: #f1b401;
}
.blue{
    color: #3a7cec;
}
.green{
    color: #2ba14b;
}
.red{
    color: #e33e2b;
}

.pad-top {
    padding-top: 2%;
}

#articleList {
    margin-left: 2vh;
}

#article > a {
    text-decoration: none;
    color: black;
}

#article:first-child {
    margin-top: 3%;
}

#article:hover {
    border-left: solid #FCE154 4px;
    border-radius: 2px;
}